<!doctype html>
<html ng-app="demo">
<head>
<title>Messages Control Center</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/CrunchHelloWorld/resources/bootstrap/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
<script src="messages.js"></script>
<link rel="stylesheet"
	href="/CrunchHelloWorld/resources/bootstrap/css/bootstrap.min.css">

</head>
</head>

<body ng-controller="MsgCtrl">


	<div class="container">
		<h2>All messages</h2>
		<p>
			Now showing <span class="badge">{{(messages|filter
				:{read:readSelect}).length}}</span> messages.

		</p>
		<p>
			<a href="#" class="btn btn-primary" role="button" data-toggle="modal"
				data-target="#addModal" ng-click="addMessage()">Add Message</a>
		</p>

		<label for="readSelect">Filter:</label> <select
			class="form-control col-md-4" id="readSelect"
			data-ng-model="readSelect" ng-init="readSelect='false'">
			<option value="">All</option>
			<option value="false">Unread</option>
			<option value="true">Read</option>

		</select>
		<!--  <textarea rows="1" cols="10" ng-bind="readSelect"></textarea>-->
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Preview</th>
					<th>Read?</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<tr
					ng-repeat="msg in messages|filter :{read:readSelect}| orderBy:'-date' track by msg.id">
					<td>{{ msg.id }}</td>
					<td>{{msg.message | limitTo:10}}</td>
					<td>{{msg.read}}</td>
					<td>{{ msg.date | date:'MMM d, y H:mm:ss' }}</td>
					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#modal" ng-click="viewMessage(msg)">View
							Message</button>
					</td>
				</tr>

			</tbody>
		</table>
		<!-- the modal window for message details-> only need one as we update the selected user  -->
		<div class="modal fade" id="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title">Message</h3>

					</div>
					<div class="modal-body">
						<h4>Raw JSON</h4>
						<p>
							<code>{{currentMessage}}</code>
						</p>
						<h4>Formatted message</h4>
						<p>
							From <strong>{{currentMessage.sender}}</strong>, sent on
							{{currentMessage.date| date:'MMM d, y H:mm:ss'}} <br /> <br />
							{{currentMessage.message}}
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- the modal window for a new message-->
	<div class="modal fade" id="addModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title">Add message</h3>

				</div>
				<div class="modal-body">
					<form class="form-horizontal"  >
						<!-- path refers to the field -->
						<div class="form-group">
							<label class="col-sm-2 control-label" for="newSender">Name:</label>
							<div class="col-sm-10">
								<input id="newSender" class="form-control" ng-model="newMsg.sender" />

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="newMsg">Message:</label>
							<div class="col-sm-10">
								<textarea rows="4" cols="50" class="form-control col-sm-10" 
								id="newMsg" ng-model="newMsg.message"></textarea>

							</div>



						</div>

						
					<form>
				</div>
				<div class="modal-footer">
				<button type="submit" class="btn btn-primary" ng-click="addMsg()" data-dismiss="modal">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>